 .wfw_card_title{
  font-size: '20px';
  font-weight: 700;
  color: "#1F1F1F";
  text-align: center;
  padding: 20px 20px;
 }

  .wfw_card_content{
  font-size: '16px';
  font-weight: 400;
  color: "#545454";
  text-align: center;
 }