 
.footer_conatiner {
  position: relative;          /* establish stacking context */
  background: #137C7A;         /* your footer bg color */
  overflow: hidden;     
  padding: 100px;       /* hide the curve edges that overflow */
}

/* the red curve background */
.footer_bgCurve {
  position: absolute;
  left: 50%;
  top: -320px;                 /* pull it up so we only see the curved bottom */
  transform: translateX(-50%);
  width: 100vw;                /* wider than the viewport to get a smooth arc */
  height: 700px;               /* controls how deep the curve is */
  background: #FFF;         /* your red color */
  border-bottom-left-radius: 150% 90%;
  border-bottom-right-radius: 150% 90%;
  z-index: 0;                  /* behind the content */
}

/* everything inside sits above the curve */
.footer_layer {
  position: relative;
  z-index: 1;
}

.footer_content {
  display: flex;
  flex-direction: row ;
  flex: 5;
  background-image: url("/images/svg/joinin-back-waves.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.footer_branding_content {
  flex: 3;
  padding: 0 150px;
}
.footer_menu_content {
  flex: 2;
  padding: 50px;
}
.footer_menu_content ul {
  list-style: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

.footer_menu_content ul li:first-child {
  color: #fff;
  font-weight: 700;
  font-size: 22px;
}
.footer_menu_content ul li {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  padding-bottom: 35px;
  cursor: pointer;
}
.footer_menu_content_contact{
  color: #fff;
}
.footer_menu_content ul li:hover { 
    color: #0b4443;
}
.footer_menu_content ul li:first-child:hover {
  color: #fff;
}

.footer_bottomline{
    font-family: "Creato Display",Verdana, Geneva, Tahoma, sans-serif;
    color: #FFFFFF;
    background-color: #0b4443;
    padding: 10px 150px;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    
}
.copyright_box{
    display: flex;
    gap:10;
    align-items: center;
}
.footer_social_conatainer{
    display: flex;
}
