.footer_conatiner {
  position: relative; /* establish stacking context */
  background: #137c7a; /* footer bg color */
  overflow: hidden;
}

/* Footer content wrapper */
.footer_content {
  display: flex;
  flex-direction: row;
  flex: 5;
  background-image: url("/images/svg/joinin-back-waves.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* Branding block */
.footer_branding_content {
  flex: 2;
  padding: 0 150px;
  position: relative;
}

.footer_branding_content h1 {
  font-size: 34px;
  font-weight: 800;
  color: #fff;
  margin-bottom: 26px;
}

.footer_branding_content p {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  opacity: 0.6;
}

/* Decorative element in branding */
.footer_branding_element {
  position: absolute;
  left: 0;
  bottom: 50px;
}

/* Menu blocks */
.footer_menu_content,
.footer_menu_content_contact {
  flex: 1;
  padding: 50px 0 50px 0;
}

.footer_menu_content ul,
.footer_menu_content_contact ul {
  list-style: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

.footer_menu_content ul li:first-child,
.footer_menu_content_contact ul li:first-child {
  color: #fff;
  font-weight: 700;
  font-size: 22px;
}

.footer_menu_content ul li,
.footer_menu_content_contact ul li {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  padding-bottom: 25px;
  cursor: pointer;
}

.footer_menu_content ul li:hover {
  color: #9ef0ef;
}

.footer_menu_content ul li:first-child:hover,
.footer_menu_content_contact ul li:first-child:hover {
  color: #fff;
}

/* Footer bottom line */
.footer_bottomline {
  font-family: "Creato Display", Verdana, Geneva, Tahoma, sans-serif;
  color: #ffffff;
  padding: 25px 100px;
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  font-weight: 400;
  border-top: 1px solid #ffffff3a;
}

.copyright_box {
  display: flex;
  gap: 10px;
  align-items: center;
}

/* Social icons container */
.footer_social_conatainer {
  display: flex;
}

.footer_social_icon {
  font-size: 25px;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 1px solid #fff;
  margin-right: 12px;
}

.footer_social_icon_link {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.footer_menu_container_secondry {
  display: flex;
  flex-direction: row;
}

@media (max-width: 1024px) {
  .footer_conatiner {
    padding: 0;
    max-width: 100vw;
  }
  .footer_content {
    display: flex;
    flex-direction: column;
    padding: 0 0;
  }
  .footer_menu_content {
    display: flex;
    flex-direction: row;
  }
  .footer_branding_content {
    padding: 20px 60px;
  }
  .footer_branding_content p {
    font-size: 14px;
  }
  .footer_menu_container_secondry {
    max-width: 100vw;
    padding: 20px 60px;
    display: flex;
    justify-content: space-around;
    flex: 2;
  }

  .footer_menu_content{
    flex: 1;
    font-size: 12px;
    padding: 0;
  }
  .footer_menu_content ul li{
  
    font-size: 12px;
  }

  .footer_menu_content_contact{
    padding: 0 60px;
    
  }
  .footer_menu_content_contact ul li{
    font-size: 12px;
    padding: 8px 0;
  }

  .footer_bottomline{
    max-width: 100vw;
    padding: 20px 60px;
    font-size: 12px;
    flex-direction: column;
    gap: 10px;
  }

  .footer_social_icon{
    width: 30px;
    height: 30px;
  }

  .footer_social_icon_link{
    font-size: 16px;
  }
 
}
