.read_blog_phill {
  background-color: #ddf1ef;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 500;
  color: #137c7a;
  width: 100%;
  display: inline-block; /* shrink to text */
  width: fit-content; /* modern browsers */
  border-radius: 9999px; /* pill shape */
  box-sizing: border-box;
  margin-bottom: 21px;
}

.blog_hero_header {
  font-family: "Creato Display", Arial, Helvetica, sans-serif;
  font-size: 40px;
  font-weight: 500;
  font-style: normal;
  color: #1f1f1f;
  font-display: swap;
  margin-bottom: 17px;
}
.blog_hero_header_italic {
  font-weight: 800;
  font-style: italic;
  color: #137c7a;
}

.blog_hero_subheader {
  font-size: 20px;
  font-weight: 400;
  color: #545454;
  margin-bottom: 40px;
}

.hero_image_container {
  background-image: url("/images/bloghero.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 544px;
  border-radius: 30px;
  position: relative;
}

.hero_image_inner_card {
  height: 212px;
  width: 100%;
  background-color: #00000033;
  backdrop-filter: blur(84px);
  position: absolute;
  bottom: 0;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
  flex: 3;
  display: flex;
}
.hero_image_card_left{
  flex: 2;
  
}
.blog_hero_card_right{
  flex: 1;color: #FFFFFF;
  padding: 40px 36px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}
.hero_image_inner_card_content {
   color: #FFFFFF;
}

.hero_card_calendar_iconwrapper{
    width: 38px;
    height: 38px;
    border: 1px solid #FFFFFF;
    border-radius: 50%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
}

.hero_image_card_left{
  display: flex;
  flex-direction: column;
  padding: 20px 30px;
}

.hero_card_text{
    color: #FFF;
}
.blog_hero_title{
    font-weight: 500;
    font-size: 30px;
    color: #FFFFFF;
    margin-bottom: 12px;
}

.blog_hero_subtitle{
     font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.card_left_link{
  padding: 8px 16px;
  font-size: 12px;
  font-weight: 500;
  border: 1px solid #FFFFFF;
  border-radius: 60px;
}
.card_left_link_container{ 
  display: flex;
  justify-content: end;
  gap: 10;  
}

.card_left_arrow_link{
  display: flex;
  /* background-color: brown; */
  justify-content: end;
}

.blog_post_thumb_grid{
  display:  grid;
  grid-template-columns: repeat(3,1fr);
  padding: 30px;
  gap:54px;
}


.loadingmore_btn{
  background-color: #137c7a;
  padding: 20px 48px;
  font-size: 18px;
  font-weight: 700;
  color: #FFF;
  border-radius: 16px;
}